.menu-navbar-text {
    cursor: pointer;
}
.nav-div
{
  background-color: green;
  color: white;
}
#GUI .navbar.bg-light {
  color: #ffffff;
  background-color: #53b947 !important;
}
.nav-link{
  color: #f7fbff !important;
}
.nav-link.active {
  color: #1e251f !important;
  background-color: none !important;
}
.btn-outline-light {
  color: #f8fafd;
  background-color: transparent;
  background-image: none;
  border-color: #f8fafd;
}
.nav-div .nav-link
{
  color:red;
}
