.btn-primary
{
  background-color: white;
  color: #53b947;
  border-radius: 12px;
}
/* .btn-outline-secondary {
  color: #fafdf8;
  background-image: none;
  border-color: #f5f9f1;
} */
.btn-outline-secondary {
  color:#ececfd;
  background-color: #4e9a19;
  background-image: none;
  border-color: #f8f9fa;
}
