
.right-login {
  min-height: calc(55vh - 20px);
}
.right-login h3 {
  font-weight: 150;
  font-size:3vw;
  padding-bottom: 0rem;
}
.mb-4, .my-4 {
   margin-bottom: 0.5rem !important;
}
.display-4
{
  font-family: serif, monospace,-webkit-pictograph , cursive, sans-serif;
  font-feature-settings: initial;
}
.lead {
  font-size: 1.005625rem;
  font-weight: 200;
}
.btn
{
  border-radius: 10px;
  font-family: arial ,monospace;
  font-size: 1.1vw;
}
