
.model-content
{
    color: #8e9192;
    border: 1px solid #53b947;
    box-shadow: 0px 0px 2px 2px #ffffff;
    padding: .75rem;
    margin: 1.1rem;
    position: relative;
    display: flex;
    background-color: #fbfafa;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #ffffff;
}
.btn-outline-light
{
  border-color: #f8f9fa;
  background-color: #29a006;
  color: #f6fff0;
  border-radius: 15px;

}
.ModalSend .nav-link {
  color: #f4fff1 !important;
  /* background-color: white; */
}
.btn-block
{
  background-color: #ffffff;
  color: #4E9A19;
  border-radius: 15px;
}
.btn-block:disabled
{
  background-color:#29a006;
  color: #ffffff;

}
.btn-link
{
  color: #fdfffd;
}
#sendModal label {
  color: #4d920d;
  margin-bottom: .25rem !important;
}
.btn .btn-outline-secondary {
  color: #4E9A19;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

