<section id="GUI" class="light">
  <section id="content" class="col-11 mx-auto">

      <div class="jumbotron jumbotron-fluid">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="card p-3">
              <form [formGroup]="exchangeForm" (ngSubmit)="exchangeNow()">
                <div class="row form-wrapper">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="from">Deposit</label>
                            <select class="form-control" name="from" required="required" formControlName="from">
                              <option value="">Select Token</option>
                              <option value="SELS">SELS</option>
                              <option value="BELS">BELS</option>
                            </select>
                            <div *ngIf="this.exchangeForm.controls['from'].invalid && this.exchangeForm.controls['from'].touched">
                                <small class="text-danger"><i>Deposit From is required.</i></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group">
                            <label for="deposit_amount">Amount</label>
                            <input type="number" class="form-control" placeholder="Deposit Token Amount *" name="deposit_amount" required="required" formControlName="deposit_amount" (keyup)="updateReceivedAmount()">
                            <div *ngIf="this.exchangeForm.controls['deposit_amount'].invalid && this.exchangeForm.controls['deposit_amount'].touched">
                                <small class="text-danger"><i>Deposit Amount is required.</i></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <h3>You will get <strong>{{received_amount}} XELS</strong></h3>
                    </div>

                    <div class="col-md-12">
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Exchnage Order Submit</button>
                      </div>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="jumbotron jumbotron-fluid">
        <div class="row">
          <div class="col-12 mx-auto">
            <div class="card p-3">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <td class="text-left">Order Id</td>
                    <td class="text-left">Deposit</td>
                    <td class="text-left">Recived</td>
                    <td class="text-left">Tx Id</td>
                    <td class="text-left">Status</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of rows | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
                    <td class="text-left">{{ row.id }}</td>
                    <td class="text-left">{{ row.deposit_address }} ({{ row.deposit_amount+' '+row.deposit_symbol }})</td>
                    <td class="text-left">{{ row.xels_address }} ({{ row.xels_amount+' XELS' }})</td>
                    <td class="text-left">{{ row.transaction_id }}</td>
                    <td class="text-left">{{ row.status }}</td>
                  </tr>
                </tbody>
              </table>
              <!-- <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls> -->
            </div>
          </div>
        </div>
      </div>

  </section>
</section>
<!-- /GUI-->
