<section id="GUI" class="light">
  <section id="content" class="col-11 mx-auto">
      <div class="jumbotron jumbotron-fluid">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="card p-3">
              <form [formGroup]="exchangeForm" (ngSubmit)="exchangeNow()">
                <div class="row form-wrapper">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="from">Deposit</label>
                            <select class="form-control" name="from" required="required" formControlName="from">
                              <option value="">Select Token</option>
                              <option value="SELS">SELS</option>
                              <option value="BELS">BELS</option>
                            </select>
                            <div *ngIf="this.exchangeForm.controls['from'].invalid && this.exchangeForm.controls['from'].touched">
                                <small class="text-danger"><i>Deposit From is required.</i></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group">
                            <label for="deposit_amount">Amount</label>
                            <input type="text" class="form-control" placeholder="Deposit Token Amount *" name="deposit_amount" required="required" formControlName="deposit_amount">
                            <div *ngIf="this.exchangeForm.controls['deposit_amount'].invalid && this.exchangeForm.controls['deposit_amount'].touched">
                                <small class="text-danger"><i>Deposit Amount is required.</i></small>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-md-12">
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Exchnage Order Submit</button>
                      </div>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        

      </div>
  </section>
</section>
<!-- /GUI-->
